#next_btn:hover{
    -fx-background-color:#2ac439 !important;
    -fx-text-fill: white !important;
   }

   #btn:hover{
    -fx-background-color:#2a50c4 !important;
    -fx-text-fill: white !important;
   }